*.class
*.DS_store
*.idea

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target/
**/target/
*/target
.idea/
*.iml
*.class
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
sourcefile/


law.log
**/*.local.properties
